<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Lorene Pay - Add Admin User</title>
  </head>
  <body>
    <h1>Add Admin User</h1>
    <hr />
    <% if (message) { %>
    <h3 style="color: red"><%= message %></h3>
    <% } %>
    <form action="/admin/add-admin" method="POST">
      <input required type="text" name="name" placeholder="Name" />
      <input required type="text" name="username" placeholder="username" />
      <input required type="password" name="password" placeholder="password" />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
