<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lorene Pay - 404</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/404.css" />
  </head>
  <body>
    <body class="bg-purple">
      <div id="scene">
        <div data-depth="0.5" class="stars"></div>
      </div>

      <div class="code">
        <h1 id="code">404</h1>
        <p id="message">Oops *_* Something went wrong</p>
        <p id="error">ERROR : Server failed to respond.</p>
        <p>Redirecting to Home in 10s</p>
      </div>

      <div>
        <div class="custom-navbar">
          <div class="brand-logo">
            <img src="../assets/logoWhite.svg" width="160px" />
          </div>
        </div>

        <div class="objects">
          <img class="object_rocket" src="../assets/rocket.svg" width="40px" />
          <div class="earth-moon">
            <img class="object_earth" src="../assets/earth.svg" width="100px" />
            <img class="object_moon" src="../assets/moon.svg" width="80px" />
          </div>
          <div class="box_astronaut">
            <img
              class="object_astronaut"
              src="../assets/astronaut.svg"
              width="140px"
            />
          </div>
        </div>
        <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
      </div>

      <a style="display: none" id="jusNull" href="/dashboard"></a>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js"></script>

    <script src="../js/404.js"></script>
  </body>
</html>
