<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Bootstrap, Landing page, Template, Business, Service"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Lorene Pay - Home</title>
    <!-- Fonts -->
    <!--====== Favicon Icon ======-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../assets/logoT.svg" type="image/svg" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/LineIcons.css" />
    <link rel="stylesheet" href="../css/magnific-popup.css" />
    <link rel="stylesheet" href="../css/nivo-lightbox.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/info.css" />

    <style>
      img {
        object-fit: cover;
      }
      h1 {
        margin-top: 15vh;
      }
    </style>
  </head>

  <body>
    <header id="home" class="hero-area">
      <nav class="navbar navbar-expand-md fixed-top menu-bg">
        <div class="container">
          <div style="display: flex; align-items: center">
            <a href="#" class="navbar-brand"
              ><img
                src="../assets/logo.svg"
                alt="logo"
                style="margin: 1.4vh 0; width: 40%"
            /></a>
            <button
              style="height: 50%"
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="lni-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#home">Home</a>
              </li>
              <li class="nav-item product-item">
                <a
                  onclick=""
                  href="#business-plan"
                  class="nav-link prod-link page-scroll"
                  >Products</a
                >
                <div class="prods">
                  <ul>
                    <li><a class="nav-link" href="#">Subscription</a></li>
                    <li><a class="nav-link" href="#">Social Commerce</a></li>
                    <li><a class="nav-link" href="#">UPI</a></li>
                    <li><a class="nav-link" href="#">Payment Gateway</a></li>
                    <li><a class="nav-link" href="#">Payment Links</a></li>
                    <li><a class="nav-link" href="#">Invoices</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#features"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-singin" href="/auth">Sign In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% if (info === "terms") { %>
    <section id="terms">
      <div class="container">
        <h1>Terms and Conditions</h1>
        <h2>Terms of Service</h2>
        <p>
          Lorene Pay is an online marketplace focusing business to business
          service providers who accept payments-especially individuals,
          freelancers, women who work from home, handcraft businesswomen, and
          people who do business in rural areas.
          <br />
          <br />
          Lorene Pay helps them through subscription, payment link, payment
          gateway, and online store to make their payments easier and faster.
          <br />
          <br />
          Individuals/Merchants can use this stage to do business; they can
          create invoices, get paid only when the customers pay. The Lorene Pay
          invoice has all the features of the zoho invoice.
          <br />
          <br />
          This platform is completely free and utilized by all kinds of business
          people and we are software service providers and pay only when your
          customers pay. (Pay per transaction; transaction charge is
          affordable).
        </p>

        <h2>Scope of Lorene Pay</h2>
        <p>
          Lorene Solutions Private Limited is the owner and controller of
          'Lorene Pay' which is a web-based mobile application, an online market
          place focusing business to business service providers who accept
          payments.
          <br />
          <br />
          We are SaaS-based software service providers and pay only when your
          customers pay.
          <br />
          <br />
          By accessing and using our Services (defined below), you ("Our User")
          are agreeing to these terms and conditions contained hereinafter
          ("Terms of Service" or "Terms"). We strongly urge you to read the
          Terms of Service in detail before registering, accessing, or using the
          App Services. Supplemental terms may apply to certain Services, such
          as policies for a particular event, activity or promotion or new
          feature and such supplemental terms will be disclosed to you in
          connection with the applicable Services. Supplemental terms are in
          addition to and shall be deemed a part of, the Terms for the purposes
          of the applicable Services. Supplemental terms shall prevail over
          these Terms in the event of a conflict with respect to the applicable
          Services.
          <br />
          <br />
          We may amend the Terms at any time by posting an updated version on
          the App. The updated version of these Terms shall supersede the
          previous version of the Terms and take effect immediately upon posting
          and may be notified, via the App. You have the right to opt-out of
          agreeing to these Terms or any future updated version of the Terms and
          therefore also using the App. If you are not comfortable with any of
          the Terms or do not wish to be bound by the same, you are at liberty
          to refrain from using the App and the App Services. However, please be
          aware that your continued use of the App Services for a period of 7
          (seven) days from the launch of any updated Terms would mean deemed
          acceptance of these Terms and its associated policies mentioned
          herein, including any modification thereof.
          <br />
          <br />
          For the purpose of these Terms of Use, wherever the context so
          requires, the term "User" shall mean and include any natural or legal
          person who has agreed to these Terms of Use on behalf of itself or any
          other legal entity. It is clarified that the Privacy Policy (that is
          provided separately), forms an integral part of these Terms of Use and
          should be read contemporaneously with the Terms of Use. Illegality or
          unenforceability of one or more provisions of these Terms of Use shall
          not affect the legality and enforceability of the other terms of the
          Terms of Use. For the avoidance of doubt, if any of the provisions
          become void or unenforceable, the rest of the provisions of these
          Terms of Use shall be binding upon the User.
          <br />
          <br />
        </p>

        <h2>Eligibility to Use</h2>
        <p>
          By registering with Lorene Pay and using the App Services, you are
          representing the following:
          <br />
          <br />
          You are 18 years of age, or older;
          <br />
          <br />
          You are not barred or otherwise legally prohibited from accessing or
          using Lorene Pay & the App Services.
          <br />
          <br />
          If you allow anyone to use your account, including individuals less
          than 18 years of age, you will still be responsible for ensuring that
          such individuals comply with the terms. You will be responsible for
          all actions these individuals take in and/or through your account. You
          also acknowledge that Lorene Solutions does not have the
          responsibility of ensuring that you meet the aforesaid requirements.
          You agree to comply with all applicable laws when using the Services
          and you may only use the Services for lawful purposes.
          <br />
          <br />
          Please be aware that Lorene Solutions reserves the right to revoke
          your access to the Lorene Pay App or App Services, subject to our
          reasonable discretion. In this regard, we may also choose to suspend
          your Lorene Pay Account or your access to the same. As a registered
          user, in such an event, you may contact our support team to assist
          you/resolve the situation.
        </p>

        <h2>Privacy Policy</h2>
        <p>
          For information regarding the Company's treatment of personally
          identifiable information, please refer to Company's current Privacy
          Policy, which is hereby incorporated by reference; your acceptance of
          this Agreement constitutes your acceptance and agreement to be bound
          by Company's Privacy Policy.
        </p>

        <h2>Use of Lorene Pay (When you use our app)</h2>
        <p>
          When you use our App, you are representing to us that:
          <br />
          <br />
          Your use of the App shall not violate any applicable law or
          regulation, and that you fulfill the eligibility criteria set forth
          under Section 2;
          <br />
          <br />
          All registration information you submit is truthful, complete, and
          accurate and you agree to maintain accurate, complete, and up-to-date
          account information in your Account.
          <br />
          <br />
          You are responsible for all activity that occurs under your Account.
          Unless otherwise permitted by Lorene Solutions in writing, you may
          only possess one Account.
          <br />
          <br />
          Your use of the App or its content is only for personal purposes. By
          using the App Services, You hereby agree that you are aware and
          responsible for all transactions taking place through your Account.
          <br />
          <br />
          Your personal and non-commercial use of the App prevents you from
          decompiling, reverse engineering, disassembling content, removing any
          intellectual property right associated with our App, including
          copyright, trademarks, trade secrets, designs, and patents, or other
          proprietary notices.
          <br />
          <br />
          You shall not access or use the App in any manner that may be harmful
          to the operation of the App or its content;
          <br />
          <br />
          You shall not use any product or service available on the App for
          commercial purposes, or use the App Services in any way that is
          unlawful, or harms Lorene Solutions or any other person or entity;
          <br />
          <br />
          You will not post, distribute, or otherwise, transmit or make
          available any software or other computer files that contain a virus or
          other harmful component, or otherwise impair or damage the App or any
          connected network, or otherwise interfere with any person or entity's
          use or enjoyment of the App.
          <br />
          <br />
          You will not delete or modify any content of the App, such as legal
          notices, disclaimers or proprietary notices, copyright or trademark
          symbols, and logos.
          <br />
          <br />
          Your use of Lorene Solutions shall indicate that you have provided
          consent to automatically receive requested updates such as bug fixes,
          patches, enhanced functions, missing plug-ins and new versions
          (collectively, 'Updates'), for the purpose of effective delivery of
          the App Services. Please note that your continued use of the App
          following such Updates would mean deemed acceptance by you of the
          same.
        </p>

        <h2>Indemnity</h2>
        <p>
          You will indemnify, defend, at the Company's option, and hold the
          Company, its parents, subsidiaries, affiliates, officers, associates
          successors, assigns, licensors and employees, the Website or any of
          their respective officers, directors, employees, agents, vendors,
          licensors, representatives, advertisers, service providers,
          franchisers and vendors harmless (including, without limitation, from
          all damages, liabilities, settlements, costs and attorneys' fees) from
          and against any claim, demand, lawsuits, judicial proceeding, losses,
          liabilities, damages and costs made by any third party due to or
          arising out of your access to the Services, use of the Services, your
          violation of this Agreement, or due to any infringement by you or any
          third party using your account of any intellectual property or other
          right of any person or entity, or your provision of defective or
          sub-standard goods/services through this Website, or your breach of
          terms of conditions agreed by you to a Buyer in transaction
          facilitated by this Website.
        </p>

        <h2>Disclaimer</h2>
        <p>
          The App Services, including all content, software, functions,
          material, and information made available or accessible through the
          Services are provided "as is". Lorene Solutions, Lorene Pay, their
          respective agents, co-branders, or partners, make no representation
          and warranty of any kind for the content, software, functions,
          material, and information available/accessible through the Services.
          <br />
          <br />
          Lorene Solutions does not warrant that the functions contained in the
          content, information, and materials on the App, including, without
          limitation any third-party sites or services linked to the App will be
          uninterrupted, timely, or error-free, that the defects will be
          rectified, or that the App or the servers that make such content,
          information, and materials available are free of viruses or other
          harmful components.
          <br />
          <br />
          Further, You understand that a payment transaction is solely between
          the User who uses the App Services to make his payment ("Sender") and
          the User who receives such payment from the Sender ("Recipient") and
          that Lorene Solutions does not provide any guarantees or warranties
          with respect to any User or any service, goods, or delivery level
          commitment provided by such User. Lorene Solutions cannot assure that
          other users are or will be complying with the foregoing rules or any
          other provisions mentioned here. You assume all risk of harm or injury
          resulting from any such lack of compliance by any other user or any
          person. You should ensure that you have undertaken adequate due
          diligence prior to transferring payments using the App Services.
        </p>

        <h2>Limitation of Liability</h2>
        <p>
          In no event shall Lorene Solutions, its officers, owners, directors,
          employees and agents, partners, co-branders, licensors, licensees,
          consultants, or contractors be liable to you or any third party for
          any special, incidental, indirect, consequential or punitive damages
          or losses whatsoever, or damages for loss of data or profits,
          goodwill, and/ or other intangible loss, whether or not foreseeable
          and regardless of whether Lorene Solutions has been advised of the
          possibility of such damages, or based on any theory of liability,
          including breach of contract or warranty, negligence or other tortious
          action, or any other claim arising out of or in connection with your
          use of, or access to, the App or App Services.
        </p>

        <h2>Notice</h2>
        <p>
          All notices addressing to the Company will be served by email or by
          general notification on the Website. Any notice provided to Company
          pursuant to the Terms should be sent to support services at
          support@Lorenepay.com.
        </p>

        <h2>Change</h2>
        <p>
          We have and continue to have the right to modify, change or update
          this Terms of Service and any other policies as provided on the
          Website, at any time by reasonably highlighting on the Website about
          such change. Such changes shall be effective immediately upon posting
          to the Website. You are advised to keep a regular check and update on
          the Policy updates on the Website.
        </p>

        <h2>Compliance with laws</h2>
        <p>
          Users shall comply with all the applicable laws (including without
          limitation Foreign Exchange Management Act, 1999 and the rules made
          and notifications issued thereunder and the Exchange Control Manual as
          may be issued by the Reserve Bank of India from time to time, Customs
          Act, Information and Technology Act, 2000 as amended by the
          Information Technology (Amendment) Act 2008, Prevention of Money
          Laundering Act, 2002 and the Rules made thereunder, Foreign
          Contribution Regulation Act, 1976 and the rules made thereunder,
          Income Tax Act, 1961 and the rules made there under, Export-Import
          Policy of government of India) applicable respectively for using
          payment facility and our Website.
        </p>

        <h2>Miscellaneous</h2>
        <p>
          The failure of either party to exercise, in any respect, any right
          provided for herein shall not be deemed a waiver of any further rights
          hereunder. The Company shall not be liable for any failure to perform
          its obligations hereunder where such failure results from any cause
          beyond the Company's reasonable control, including, without
          limitation, mechanical, electronic, or communications failure or
          degradation (including "line-noise" interference). If any provision of
          this Agreement is found to be unenforceable or invalid, that provision
          shall be limited or eliminated to the minimum extent necessary so that
          this Agreement shall otherwise remain in full force and effect and
          enforceable. This Agreement is not assignable, transferable or
          sublicensable by you except with the Company's prior written consent.
          <br />
          <br />
          The Company may transfer, assign, or delegate this Agreement and its
          rights and obligations without any consent. Both parties agree that
          this Agreement is the complete and exclusive statement of the mutual
          understanding of the parties and supersedes and cancels all previous
          written and oral agreements, communications, and other understandings
          relating to the subject matter of this Agreement and that all
          modifications must be in writing signed by both parties, except as
          otherwise provided herein. No agency, partnership, joint venture, or
          employment is created as a result of this Agreement and you do not
          have any authority of any kind to bind the Company in any respect
          whatsoever.
          <br />
          <br />

          Headings for each section have been included above for your
          convenience, but such headings do not have any legal meaning, and may
          not accurately reflect the content of the provisions they precede. You
          and the Company agree there are no third-party beneficiaries intended
          under this Agreement.
        </p>

        <h2>Arbitration & Governing Law</h2>
        <p>
          This Agreement shall be governed by and construed in accordance with
          the laws of India, without regard to the conflict of law provisions
          thereof. Any dispute arising from or relating to the subject matter of
          this Agreement shall be finally settled in accordance with the
          provisions of the Indian Arbitration and Conciliation Act, 1996 and
          any amendments thereof by one or more arbitrator(s) appointed mutually
          by the parties in accordance with those regulations. Judgment upon the
          award so rendered may be entered in a court having jurisdiction, or
          application may be made to such court for judicial acceptance of any
          award and an order of enforcement, as the case may be. Notwithstanding
          the foregoing, each party shall have the right to institute an action
          in a court of proper jurisdiction for injunctive or other equitable
          relief at any time.
        </p>

        <h2>Contact</h2>
        <p>
          If you have any questions, complaints, or claims with respect to the
          Services, you may contact us at support@Lorenepay.com. Our physical
          address is mentioned at lorenepay.com/#contact.
          <br />
          <br />
          We as a merchant shall be under no liability whatsoever in respect of
          any loss or damage arising directly or indirectly out of the decline
          of authorization for any Transaction, on Account of the Cardholder
          having exceeded the preset limit mutually agreed by us with our
          acquiring bank from time to time.
        </p>
      </div>
    </section>
    <% } else if (info === "privacy") { %>
    <section id="privacy">
      <div class="container">
        <h1>Privacy Policy</h1>
        <p>
          We at Lorene Pay, Inc. ("Lorene Pay- Website name," "we," "us," "our")
          know that our users ("you," "your") care about how your personal
          information is used and shared, and we take your privacy seriously.
          Please read the following to learn more about our Privacy Policy. By
          visiting or using the Website or Services in any manner, you
          acknowledge that you accept the practices and policies outlined in
          this Privacy Policy, and you hereby consent that we will collect, use,
          and share your information in the following ways. Any capitalized
          terms used herein without definition shall have the meaning given to
          them in the Company Terms of Use.
        </p>

        <h2>WHAT DOES THIS PRIVACY POLICY COVER?</h2>
        <p>
          This Privacy Policy covers our treatment of personally identifiable
          information ("Personal Information") that we gather when you are
          accessing or using our Services. This policy does not apply to the
          practices of companies that we do not own or control, or to
          individuals that we do not employ or manage.
          <br />
          <br />
          We do not knowingly collect or solicit personal information from
          anyone under the age of 13 or knowingly allow such persons to register
          for the Services (as that term is defined in our Terms of Use). If you
          are under 13, please do not attempt to register for the Services or
          send any information about yourself to us, including your name,
          address, telephone number, or email address. No one under age 13 may
          provide any personal information to us or on the Services. If we learn
          that we have collected personal information from a child under age 13
          without verification of parental consent, we will delete that
          information as quickly as possible. If you believe that we might have
          any information from or about a child under 13, please contact us at
          support@lorenepay.com.
          <br />
          <br />
          We gather various types of Personal Information from our users, as
          explained more fully below. We may use this Personal Information to
          personalize and improve our services, to allow our users to set up a
          user account and profile, to contact users, to fulfill your requests
          for certain products and services, to analyze how users utilize the
          Services, and as otherwise outlined in this Privacy Policy. We may
          share certain types of Personal Information with third parties, as
          described below.
        </p>

        <h2>WILL COMPANY SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h2>
        <p>
          We neither rent nor sell your Personal Information in personally
          identifiable form to anyone. However, we do share your Personal
          Information with third parties as described.
        </p>

        <h2>IS PERSONAL INFORMATION ABOUT ME SECURE?</h2>
        <p>
          Your account is protected by a password for your privacy and security.
          If you access your account via a third-party site or service, you may
          have additional or different sign-on protections via that third-party
          site or service. You must prevent unauthorized access to your account
          and Personal Information by selecting and protecting your password
          and/or another sign-on mechanism. appropriately and limiting access to
          your computer or device and browser by signing off after you have
          finished accessing your account.
          <br />
          <br />
          We endeavor to protect the privacy of your account and other Personal
          Information we hold in our records, but we cannot guarantee complete
          security. Unauthorized entry or use, hardware or software failure, and
          other factors may compromise the security of user information at any
          time.
          <br />
          <br />
          The Services may contain links to other sites. We are not responsible
          for the privacy policies and/or practices on other sites. When
          following a link to another site you should read that site’s privacy
          policy.
        </p>

        <h2>WHAT PERSONAL INFORMATION CAN I ACCESS?</h2>
        <p>
          Through your account settings, you may access, and, in some cases,
          edit or delete the following information you’ve provided to us:
        </p>
        <ul>
          <li>name, User ID and password</li>
          <li>email address</li>
          <li>location</li>
          <li>payment information</li>
          <li>
            bank account information, user `profile information, including
            images and videos you have uploaded to the site
          </li>
        </ul>
        <p>
          The information you can view, update, and delete may change as the
          Services change. If you have any questions about viewing or updating
          information we have on file about you, please contact us at
          support@lorenepay.com
        </p>

        <h2>CHANGES TO THIS PRIVACY POLICY</h2>
        <p>
          We may amend this Privacy Policy from time to time. If we make changes
          in the way we use Personal Information, we will notify you (for
          example, by email or a sign-in notification or some other means). By
          continuing to use the Service after those changes become effective,
          you are agreeing to be bound by the revised Privacy Policy; if you do
          not agree to the change, simply don’t use the Service after the change
          is effective, in which case the change will not apply to you.
        </p>

        <h2>QUESTIONS OR CONCERNS</h2>
        <p>
          If you have any questions or concerns regarding our privacy policies,
          please send us a detailed message to privacy@lorenepay.com, and we
          will try to resolve your concerns.
        </p>
      </div>
    </section>
    <% } else if (info === "cancellation") { %>
    <section id="cancellation">
      <div class="container">
        <h1>Refund and Cancellation Policy</h1>

        <p>
          Our focus is on complete customer satisfaction. In the event, if you
          are displeased with the services provided, we will refund back the
          money, provided the reasons are genuine and proved after
          investigation. Please read the fine prints of each deal before buying
          it, it provides all the details about the services or the product you
          purchase.
          <br />
          <br />
          In case of dissatisfaction from our services, clients have the liberty
          to cancel their projects and request a refund from us. Our Policy for
          the cancellation and refund will be as follows:
        </p>

        <h2>Cancellation Policy</h2>
        <p>
          A Customer may submit a claim for a refund for a purchase made by
          emailing at support@lorenepay.com and providing a clear and specific
          reason for the refund request and the exact terms that have been
          violated.
          <br />
          <br />
          Requests received later than 10 business days before the end of the
          current service period will be treated as a cancellation of services
          for the next service period.
        </p>

        <h2>Refund Policy</h2>
        <p>
          We will try our best to create suitable design concepts for our
          clients.
          <br />
          <br />
          In case any client is not completely satisfied with our products we
          can provide a refund.
          <br />
          <br />
          If paid by credit card, refunds will be issued to the original credit
          card provided at the time of purchase and in case of payment gateway
          name payments refund will be made to the same account.
        </p>
      </div>
    </section>
    <% } %>

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">
            <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="footer-logo">
                <img style="width: 100%" src="../assets/logo.svg" alt="" />
              </div>
              <div
                class="so"
                style="margin-top: 3vh; display: flex; justify-content: center"
              >
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-facebook-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-instagram-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-twitter-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-linkedin-original"
                  ></i
                ></a>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12"></div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-1"></div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="#">- About Us</a></li>
                  <li><a href="#">- Services</a></li>
                  <li><a href="#">- Contact Us</a></li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Product</h3>
                <ul class="menu">
                  <li><a href="#">- Payment Gateway</a></li>
                  <li><a href="#">- Subscriptions</a></li>
                  <li><a href="#">- UPI</a></li>
                  <li><a href="#">- Social Commerce</a></li>
                  <li><a href="#">- Invoices</a></li>
                  <li><a href="#">- Payment Links</a></li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Legal</h3>
                <ul class="menu">
                  <li><a href="/info/terms">- Terms & Conditions</a></li>
                  <li><a href="/info/privacy">- Privacy Policy</a></li>
                  <li>
                    <a href="/info/cancellation">- Cancellation & Refunds</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>&copy; Lorene Pay 2021. All Rights Reserved.</p>
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>

    <script src="../js/jquery-min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/nivo-lightbox.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
