<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Bootstrap, Landing page, Template, Business, Service"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Lorene Pay - Home</title>
    <!-- Fonts -->
    <!--====== Favicon Icon ======-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../assets/logoT.svg" type="image/svg" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/LineIcons.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/nivo-lightbox.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/main.css" />

    <style>
      .pricing-text li {
        color: rgb(22, 25, 72);
      }
      .pricing-text li::before {
        content: "*";
        color: red;
      }
      img {
        object-fit: cover;
        image-rendering: -moz-crisp-edges;
      }
    </style>
  </head>

  <body>
    <!-- Header Section Start -->
    <header id="home" class="hero-area">
      <div id="particles-js"></div>
      <nav class="navbar nav-dis navbar-expand-md fixed-top">
        <div class="container">
          <div style="display: flex; align-items: center">
            <a href="#" class="navbar-brand"
              ><img
                src="../assets/logo.svg"
                alt="logo"
                style="margin: 1.4vh 0; width: 40%"
            /></a>
            <button
              style="height: 50%"
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="lni-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#home">Home</a>
              </li>
              <li class="nav-item product-item">
                <a
                  onclick=""
                  href="#business-plan"
                  class="nav-link prod-link page-scroll"
                  >Products</a
                >
                <div class="prods">
                  <ul>
                    <li><a class="nav-link" href="#">Subscription</a></li>
                    <li><a class="nav-link" href="#">Social Commerce</a></li>
                    <li><a class="nav-link" href="#">UPI</a></li>
                    <li><a class="nav-link" href="#">Payment Gateway</a></li>
                    <li><a class="nav-link" href="#">Payment Links</a></li>
                    <li><a class="nav-link" href="#">Invoices</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#features"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link coll page-scroll" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-singin" href="/auth">Sign In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row space-100">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="contents">
              <h2 class="head-title">
                Receiving payments<br />made
                <span id="title" style="color: #1F6E6F"></span>
                <span id="cursor" ></span>
              </h2>
              <p >
                Much more than a bank, LorenePay is the ideal, fastest and
                most<br />
                convenient financial and administrative payments solution.
              </p>
              <div class="header-button">
                <a href="/auth" class="btn btn-border-filled">Get Started</a>
                <a href="#about" class="btn btn-border page-scroll">About Us</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 p-0">
            <div class="intro-img">
              <img width="400" src="../assets/Asset 6.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Business Plan Section Start -->
    <section style="padding: 20px; padding-top: 6vh" id="business-plan">
      <div class="container">
        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info">
              <h3>Payment Gateway</h3>
              <p>
                Accept domestic and international payments with 100+ payment<br />
                options.<br /><br />Choose from a wide range of integrations by
                providing<br />
                the best checkout experience for your customers.
              </p>
              <a style="margin-bottom: 70px" class="btn btn-common" href="#"
                >Learn more</a
              >
              <h3 style="font-size: 20px">We Accept:</h3>
              <img
                style="transform: translate(-5%, -20%)"
                width="100%"
                src="../assets/pay.svg"
                alt="Payment Modes"
              />
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="../assets/1200.svg" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- End Col -->
        </div>
      </div>
    </section>
    <section style="padding: 20px" id="business-plan">
      <div class="container">
        <div class="row to-flex-opp">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="../assets/5917.svg" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info">
              <h3>UPI - Lorene Pay</h3>
              <p>
                Accept payments from any UPI app - Google pay, Paytm, PhonePe,
                BHIM, Amazon Pay and 150+ others with your Lorene Pay QR.
                Payments get credited to your bank account instantly.<br /><br />No
                more worries for the setup, transaction fee or any other hidden
                charges in Lorene Pay, which is absolutely Free!!
              </p>

              <a style="margin-bottom: 70px" class="btn btn-common" href="#"
                >Learn more</a
              >
              <h3 style="font-size: 20px">We Accept:</h3>
              <img
                style="transform: translate(-5%, -20%)"
                width="100%"
                src="../assets/upi-acc.svg"
                alt="Payment Modes"
              />
            </div>
          </div>
          <!-- End Col -->
        </div>
      </div>
    </section>
    <section style="padding: 20px" id="business-plan">
      <div class="container">
        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info">
              <h3>Social Commerce - Lorene Buy</h3>
              <p>
                Manage your online store, exhibit and sell your products on your
                favourite social network. <br /><br />
                Share your store link with your customers on any of your
                favourite mediums and start accepting orders online.
              </p>
              <a style="margin-bottom: 70px" class="btn btn-common" href="#"
                >Learn more</a
              >
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="../assets/social.svg" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- End Col -->
        </div>
      </div>
    </section>
    <section style="padding: 20px" id="business-plan">
      <div class="container">
        <div class="row to-flex-opp">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="../assets/recurring.svg" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info">
              <h3>Recurring Payments</h3>
              <p>
                Create a subscription plan for the customer, enable the
                recurring payment schedule. Control the billing cycle and get
                alerts on subscription activity with Lorene Pay subscriptions.
              </p>
              <a style="margin-bottom: 70px" class="btn btn-common" href="#"
                >Learn more</a
              >
              <h3 style="font-size: 20px">We Accept:</h3>
              <img
                style="transform: translate(-5%, -20%)"
                width="100%"
                src="../assets/subscription.svg"
                alt="Payment Modes"
              />
            </div>
          </div>
          <!-- End Col -->
        </div>
      </div>
    </section>
    <!-- Business Plan Section End -->

    <!-- Cool Fetatures Section Start -->
    <section id="features" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="features-text section-header text-center">
              <div>
                <h2 class="section-title" style="margin-bottom: 2.4vh">
                  Services We Provide
                </h2>
                <div class="desc-text">
                  <p>
                    Lorene Pay caters to its service across small and medium
                    <br />
                    businesses to track, collect and manage payments at ease.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row featured-bg">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item featured-border1">
              <div class="feature-icon float-left">
                <i class="lni lni-rupee"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Accept every payment</h4>
                <p>
                  Get paid using UPI, Debit/Credit card, <br />
                  Net banking, Paytm wallet and EMI
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->

          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item featured-border2">
              <div class="feature-icon float-left">
                <i class="lni lni-investment"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Best pricing</h4>
                <p>
                  Our innovative payment solution at an <br />
                  affordable pricing, makes payments simpler
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->

          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item featured-border1">
              <div class="feature-icon float-left">
                <i class="lni lni-stats-up"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Business growth insights</h4>
                <p>
                  Powerful dashboard to view <br />
                  payment status, bank <br />
                  settlements and much more
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->

          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item featured-border2">
              <div class="feature-icon float-left">
                <i class="lni lni-rocket"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Instant activation</h4>
                <p>
                  Absolute online onboarding with <br />
                  minimal documentation which <br />
                  is easy to understand
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->

          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item featured-border3">
              <div class="feature-icon float-left">
                <i class="lni lni-support"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Support Freelancers</h4>
                <p>
                  We support freelancers, small agencies, <br />
                  women who work from home, and the <br />
                  people with a will.
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->

          <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
            <!-- Start Fetatures -->
            <div class="feature-item">
              <div class="feature-icon float-left">
                <i class="lni lni-invest-monitor"></i>
              </div>
              <div class="feature-info float-left">
                <h4>Best in industry support</h4>
                <p>
                  We are available always to support you <br />
                  in every step via phone, <br />
                  e-mail and chat.
                </p>
              </div>
            </div>
            <!-- End Fetatures -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </section>
    <!-- Cool Fetatures Section End -->

    <!-- Our Pricing Plan Section Start -->
    <section id="pricing" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="pricing-text section-header text-center">
              <div>
                <h2 class="section-title">Pricing</h2>
                <div class="desc-text">
                  <p>
                    Experience easier, cheaper, more secure transactions
                    solution<br />does the calculation for your transactions.
                  </p>
                </div>
              </div>
              <ul style="color: #111; margin-top: 40px; font-size: 16px">
                <li>No setup or Hidden fees</li>
                <li>Pay only for what you use</li>
                <li>Real-time fee reporting</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div
          class="row pricing-tables"
          style="display: flex; justify-content: center"
        >
          <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>Business</h3>
                <h1>1.9%</h1>
                <ul>
                  <li>
                    For all Credit Cards, Debit Cards, Net Banking, and UPI
                  </li>
                  <li>Accepts BHIM, PhonePe, Paytm, Google Pay, etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  End Col -->
          <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>Individual</h3>
                <h1>2.2%</h1>
                <ul>
                  <li>
                    For all Credit Cards, Debit Cards, Net Banking, and UPI
                  </li>
                  <li>Accepts BHIM, PhonePe, Paytm, Google Pay, etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  End Col -->
        </div>
        <ul style="text-align: center; margin-top: 40px">
          <li>For International Cards 3.5% (Visa, Master, Amex cards)</li>
          <li>GST as applicable on fee</li>
        </ul>

        <h3 style="text-align: center; margin: 40px 0; font-weight: 900">
          Settlement
        </h3>
        <div
          class="row pricing-tables"
          style="display: flex; justify-content: center"
        >
          <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>Domestic</h3>
                <h1>T+1</h1>
                <ul>
                  <li>Working Days</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  End Col -->
          <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>International</h3>
                <h1>T+3</h1>
                <ul>
                  <li>Working Days</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  End Col -->
        </div>
        <h3 style="font-size: 18px; text-align: center; margin-top: 20px">
          Note: Weekends aren't counted as working days (T is the date of
          payment capture).
        </h3>

        <!-- End Row -->
      </div>
    </section>
    <!-- Our Pricing Plan Section End -->

    <!-- Services Section Start -->
    <section id="services" class="section" style="padding: 30px 0">
      <div class="container">
        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
              <div class="icon">
                <i class="lni lni-support"></i>
              </div>
              <h4>All platform support</h4>
              <p>Email, Chat, and Call Support Available</p>
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
              <div class="icon">
                <i class="lni lni-cog"></i>
              </div>
              <h4>Quick Activation</h4>
              <p>Online Activation within 24 hours</p>
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
              <div class="icon">
                <i class="lni-heart"></i>
              </div>
              <h4>Always available</h4>
              <p>24x7 Priority Support Available</p>
            </div>
          </div>
          <!-- End Col -->
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <section
      style="background: #fff; padding: 0"
      id="about"
      class="section"
      style="margin-top: 100px"
    >
      <div style="background: #f9f9f9; padding: 15vh 0" class="about">
        <div class="container">
          <div style="margin-bottom: 5vh">
            <h1 style="font-weight: 900">About Us</h1>
            <p style="font-size: 18px">
              Lorene Pay is a payment gateway solutions application which
              provides businesses, small owners and entrepreneurs a convenient
              and fast way to manage their business. We provide various services
              like Payment Link generation, integrated gateway set-up, online
              store set-up, etc. and ease their payment flow structure.<br /><br />
              We support all types of business people (from Newspaper sellers to
              handicraft businesswomen) to make sure that every section of the
              society has an easy access to payment solutions for a smooth
              business experience.
            </p>
          </div>
          <div>
            <h2 style="font-weight: 800; font-size: 26px">Our Vision</h2>
            <p style="font-size: 18px">
              Our main aim is to help individuals get paid instantly in a smooth
              manner. We hope to provide our services for all kinds of business
              individuals especially freelancers, entrepreneurs or small shop
              owners to help grow their business.
            </p>
          </div>
        </div>
      </div>
      <!-- Container Starts -->
      <div class="container" style="padding-top: 80px">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-text section-header text-center">
              <div>
                <h2 class="section-title">Why Us?</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="img/blog/01.jpg" class="img-fluid" alt="" />
                </a>
              </div>
              <div class="blog-item-text">
                <h3>Powering your growth of business operations</h3>
                <p>
                  Our platform will make your payments hassle-free. We have been
                  constantly delivering our customers with the best possible
                  solutions.
                </p>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="img/blog/01.jpg" class="img-fluid" alt="" />
                </a>
              </div>
              <div class="blog-item-text">
                <h3>You focus on big things, we manage the small ones</h3>
                <p>
                  Fuel and Focus on your Business operations, Our Platform will
                  make your Payments hassle-free. You will not have to worry
                  about management.
                </p>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="img/blog/01.jpg" class="img-fluid" alt="" />
                </a>
              </div>
              <div class="blog-item-text">
                <h3>Create, Send & Manage invoices from anywhere</h3>
                <p>
                  Let your customers know what they are being charged for with a
                  detailed breakdown of the expenses including price, taxes &
                  discounts.
                </p>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </section>
    <!-- About Section End -->

    <!-- Contact Us Section -->
    <section id="contact" class="section">
      <!-- Container Starts -->
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="contact-text section-header text-center">
              <div>
                <h2 class="section-title">Get In Touch</h2>
                <div class="desc-text">
                  <p>
                    Please contact us for any query you might have, we will<br />
                    respond to you as soon as we can
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12">
            <form id="contactForm" action="/send" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Name"
                      required
                      data-error="Please enter your name"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Subject"
                      id="msg_subject"
                      class="form-control"
                      name="subject"
                      required
                      data-error="Please enter your subject"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="mail"
                      placeholder="Email"
                      required
                      data-error="Please enter your Email"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="phone"
                      name="phone"
                      placeholder="Phone Number"
                      required
                      data-error="Please enter your Phone Number"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      id="message"
                      name="message"
                      placeholder="Write Message"
                      rows="4"
                      data-error="Write your message"
                      required
                    ></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="submit-button">
                    <button class="btn btn-common" id="submit" type="submit">
                      Send
                    </button>
                    <div id="msgSubmit" class="h3 hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-1"></div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-4 col-md-12">
            <img
              style="height: 300px"
              src="../assets/contact us.svg"
              class="img-fluid"
              alt=""
            />
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-1"></div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="row" style="margin-top: 40px; justify-content: center">
          <div
            style="
              background: #f9f9f9;
              padding: 30px;
              border-right: 12px solid #fff;
            "
            class="col-lg-3"
          >
            <div
              style="display: flex; align-items: center; margin-bottom: 20px"
            >
              <i
                style="
                  font-size: 28px;
                  color: rgb(22, 25, 72);
                  margin-right: 16px;
                "
                class="lni lni-direction"
              ></i>
              <h3 style="font-size: 24px; font-weight: 900">Address</h3>
            </div>
            <p>
              Lorene Solutions Private Limited P-1307, Main Road No. 3 Sector
              46, Gurugram Haryana 122003
            </p>
          </div>
          <div
            style="
              background: #f9f9f9;
              padding: 30px;
              border-right: 12px solid #fff;
            "
            class="col-lg-3"
          >
            <div
              style="display: flex; align-items: center; margin-bottom: 20px"
            >
              <i
                style="
                  font-size: 28px;
                  color: rgb(22, 25, 72);
                  margin-right: 16px;
                "
                class="lni lni-phone"
              ></i>
              <h3 style="font-size: 24px; font-weight: 900">Call Us</h3>
            </div>
            <p>
              +91 9711921414 <br />
              +91 9977048049 <br />
              0124-4278893
            </p>
          </div>
          <div
            style="
              background: #f9f9f9;
              padding: 30px;
              border-right: 12px solid #fff;
            "
            class="col-lg-3"
          >
            <div
              style="display: flex; align-items: center; margin-bottom: 20px"
            >
              <i
                style="
                  font-size: 28px;
                  color: rgb(22, 25, 72);
                  margin-right: 16px;
                "
                class="lni lni-envelope"
              ></i>
              <h3 style="font-size: 24px; font-weight: 900">Email Us</h3>
            </div>
            <p>
              info@lorenepay.com <br />
              contact@lorenepay.com
            </p>
          </div>
          <div style="background: #f9f9f9; padding: 30px" class="col-lg-3">
            <div
              style="display: flex; align-items: center; margin-bottom: 20px"
            >
              <i
                style="
                  font-size: 28px;
                  color: rgb(22, 25, 72);
                  margin-right: 16px;
                "
                class="lni lni-alarm-clock"
              ></i>
              <h3 style="font-size: 24px; font-weight: 900">Open Hours</h3>
            </div>
            <p>
              Monday - Friday <br />
              9:00AM - 05:00PM
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">
            <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="footer-logo">
                <img style="width: 100%" src="../assets/logoWhite.svg" alt="" />
              </div>
              <div
                class="so"
                style="margin-top: 3vh; display: flex; justify-content: center"
              >
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-facebook-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-instagram-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-twitter-original"
                  ></i
                ></a>
                <a href="#"
                  ><i
                    style="color: #fff; font-size: 3vh; margin-right: 1vw"
                    class="lni lni-linkedin-original"
                  ></i
                ></a>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12"></div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-1"></div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="#">- About Us</a></li>
                  <li><a href="#">- Services</a></li>
                  <li><a href="#">- Contact Us</a></li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Product</h3>
                <ul class="menu">
                  <li><a href="#">- Payment Gateway</a></li>
                  <li><a href="#">- Subscriptions</a></li>
                  <li><a href="#">- UPI</a></li>
                  <li><a href="#">- Social Commerce</a></li>
                  <li><a href="#">- Invoices</a></li>
                  <li><a href="#">- Payment Links</a></li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Legal</h3>
                <ul class="menu">
                  <li><a href="/info/terms">- Terms & Conditions</a></li>
                  <li><a href="/info/privacy">- Privacy Policy</a></li>
                  <li>
                    <a href="/info/cancellation">- Cancellation & Refunds</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>&copy; Lorene Pay 2021. All Rights Reserved.</p>
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>

    <script src="../js/particles.js"></script>
    <script src="../js/particle-app.js"></script>
    <script src="../js/jquery-min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/nivo-lightbox.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
